$deepSkyBlue: #00b2ee;
$babyBlue: #9cdcf2;
$orange: #ee7541;
$white: #ffffff;
$lessWhite: #f4f4f4;
$lightGray: #e8e8e8;
$gray: #6b6b6b;
$darkGray: #333643;
$mustard: #ebad06;

$bodyBackgroundColor: $babyBlue;
$contentBackgroundColor: $lessWhite;

$darkBackgroundColor: $darkGray;
$lightTextColor: $white;
$darkButtonBackgroundColor: $deepSkyBlue;

$errorColor: #c0392b;
$successColor: #2ecc71;

$primary1Color: $deepSkyBlue;
$primary2Color: $orange;
$primary3Color: $gray;
$accent1Color: $orange;
$accent2Color: $mustard;
$accent3Color: $babyBlue;
$textColor: $darkGray;
$alternateTextColor: $white;
$canvasColor: $lessWhite;
$borderColor: $lightGray;
$disabledColor: $babyBlue; //'#e8e8e8',
$pickerHeaderColor: $deepSkyBlue;
$clockCircleColor: $darkGray;
$shadowColor: $darkGray;